.logo{
  width: 37%;
    height: 81px;
}
.nav-link{
  font-size: 125%;
    font-weight: bold;
}
.proverbe{
  background-color: lightgray;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
